# Subsampling

In [1]:
import pandas as pd

## Import data

Import dfs with one article per row. Here the occurrences are split across different dfs based on their OCR quality. Import whichever you want to consider and merge them into one (or don't).

In [2]:
lwm90news = pd.read_csv('/Users/npedrazzini/Desktop/suicide/data/extracted_words/suicide_withmitchells/mt90_lwm_newspapers_suicid.csv')
hmd90news = pd.read_csv('/Users/npedrazzini/Desktop/suicide/data/extracted_words/suicide_withmitchells/mt90_hmd_newspapers_suicid.csv')
 
mergednewsmt90 = pd.concat([lwm90news,hmd90news])

/var/folders/2h/dt1khhkj6cq8dsr0ccz2l_jr0000gr/T/ipykernel_30976/3549237019.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  lwm90news = pd.read_csv('/Users/npedrazzini/Desktop/suicide/data/extracted_words/suicide_withmitchells/mt90_lwm_newspapers_suicid.csv')
/var/folders/2h/dt1khhkj6cq8dsr0ccz2l_jr0000gr/T/ipykernel_30976/3549237019.py:2: DtypeWarning: Columns (28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  hmd90news = pd.read_csv('/Users/npedrazzini/Desktop/suicide/data/extracted_words/suicide_withmitchells/mt90_hmd_newspapers_suicid.csv')

If you use the variable 'CATEGORY' (e.g. london, provincial, etc.) for subsampling, note that several values are missing (is there a more complete version of this variable?). One known oft-missing category is for London newspapers. So add that manually:

In [3]:
mergednewsmt90.loc[mergednewsmt90['county'] == 'london', 'CATEGORY'] = 'london'

Importing also occurrences in newspapers with OCR less than or equal to 0.90, to compare.

In [69]:
lwmlt90news = pd.read_csv('/Users/npedrazzini/Desktop/suicide/data/extracted_words/suicide_withmitchells/lte90_lwm_newspapers_suicid.csv')
hmdlt90news = pd.read_csv('/Users/npedrazzini/Desktop/suicide/data/extracted_words/suicide_withmitchells/lte90_hmd_newspapers_suicid.csv')
 
mergednewslte90 = pd.concat([lwmlt90news,hmdlt90news])

In [91]:
mergednewslte90.loc[mergednewslte90['county'] == 'london', 'CATEGORY'] = 'london'

## Quick exploration

In [92]:
mergednewsmt90['CATEGORY'].value_counts(dropna=False)

NaN           20512
london        14439
provincial    10925
welsh          2252
scottish       1144
Name: CATEGORY, dtype: int64

Which counties have a missing value for 'CATEGORY':

In [118]:
mergednewsmt90[mergednewsmt90['CATEGORY'].isna()]['county'].value_counts(dropna=False)

lancashire        5366
NaN               4963
yorkshire         1725
glamorganshire    1386
durham            1169
worcestershire    1132
dorsetshire       1052
lanarkshire       1009
warwickshire       918
cheshire           857
staffordshire      725
cumberland         172
ayrshire            38
Name: county, dtype: int64

In [95]:
mergednewslte90['CATEGORY'].value_counts(dropna=False)

NaN           10895
london         9990
provincial     4547
welsh          1381
scottish         72
Name: CATEGORY, dtype: int64

In [117]:
mergednewslte90[mergednewslte90['CATEGORY'].isna()]['county'].value_counts(dropna=False)

NaN                3072
lancashire         2314
dorsetshire        1614
yorkshire           832
glamorganshire      677
cheshire            569
staffordshire       422
worcestershire      400
warwickshire        340
durham              331
lanarkshire         228
gloucestershire      83
cumberland            9
ayrshire              4
Name: county, dtype: int64

In [121]:
mergednewsmt90['S-POL'].value_counts(dropna=False)

liberal         24711
neutral          6634
independent      6160
NaN              5913
conservative     5757
radical            97
Name: S-POL, dtype: int64

In [122]:
mergednewslte90['S-POL'].value_counts(dropna=False)

liberal         13407
NaN              4106
independent      4052
neutral          3141
conservative     2174
radical             5
Name: S-POL, dtype: int64

In [123]:
pd.crosstab(mergednewsmt90['S-POL'],mergednewsmt90['CATEGORY'])

CATEGORY      london  provincial  scottish  welsh
S-POL
conservative     190         673       933      0
independent       41        1854        71   1239
liberal        13901        5167       140    364
neutral          174        2761         0    568
radical           97           0         0      0

In [124]:
pd.crosstab(mergednewslte90['S-POL'],mergednewslte90['CATEGORY'])

CATEGORY      london  provincial  scottish  welsh
S-POL
conservative      31         538        51      0
independent        0         778         8   1097
liberal         9305        1948        13    161
neutral           19        1103         0    116
radical            5           0         0      0

## Comparison with the complete metadata

In [78]:
lwmmt90meta = pd.read_csv('mt90_lwmnewspapers-meta.csv')
hmdmt90meta = pd.read_csv('mt90_hmdnewspapers-meta.csv')
mergednewsmt90meta = pd.concat([lwmmt90meta,hmdmt90meta])

/var/folders/2h/dt1khhkj6cq8dsr0ccz2l_jr0000gr/T/ipykernel_96983/392602101.py:1: DtypeWarning: Columns (12,13,14,15,16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  lwmmt90meta = pd.read_csv('/Users/npedrazzini/Desktop/Azure/processed_data/metadata_withmitchells/mt90_lwmnewspapers-meta.csv')
/var/folders/2h/dt1khhkj6cq8dsr0ccz2l_jr0000gr/T/ipykernel_96983/392602101.py:2: DtypeWarning: Columns (12,13,14,15,16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  hmdmt90meta = pd.read_csv('/Users/npedrazzini/Desktop/Azure/processed_data/metadata_withmitchells/mt90_hmdnewspapers-meta.csv')

In [79]:
mergednewsmt90meta[mergednewsmt90meta['county'] == 'london']['S-POL'].value_counts()

liberal         725516
conservative     13647
neutral           4713
radical           4050
independent       1691
Name: S-POL, dtype: int64

In [82]:
list(dict.fromkeys(list(mergednewsmt90meta[(mergednewsmt90meta['county'] == 'london') & (mergednewsmt90meta['S-POL'] == 'conservative')]['NLP'])))

[2645]

## Prepare for subsampling

Check what you're left with after subsetting/combining variables.

In [4]:
# mergednews[mergednews['word_count'] >= 500]
df_filtered = mergednewsmt90[(mergednewsmt90['word_count'] >= 300) & (mergednewsmt90['word_count'] < 1000)]

# Splitting by CATEGORY
london = df_filtered[df_filtered['CATEGORY'] == 'london']
notlondon = df_filtered[(df_filtered['CATEGORY'] == 'provincial')]

In [5]:
print(len(london))
print(len(notlondon))

2553
3499

In [6]:
london[(london['S-POL'] == 'liberal')]['price'].value_counts()

4.5    2264
2.5      76
1.0      44
3.5      22
2.0      18
1.5      10
3.0       8
Name: price, dtype: int64

In [7]:
london[(london['S-POL'] == 'conservative')]['price'].value_counts()

5.5    43
Name: price, dtype: int64

In [8]:
notlondon[(notlondon['S-POL'] == 'liberal')]['price'].value_counts()

1.0    1556
1.5      76
0.5      16
2.0      11
Name: price, dtype: int64

In [9]:
notlondon[(notlondon['S-POL'] == 'conservative')]['price'].value_counts()

0.5    71
1.0    44
4.0     9
1.5     8
Name: price, dtype: int64

In [10]:
london[(london['S-POL'] == 'independent') | (london['S-POL'] == 'neutral')]['price'].value_counts()

2.5    26
1.5    13
Name: price, dtype: int64

In [11]:
notlondon[(notlondon['S-POL'] == 'independent') | (notlondon['S-POL'] == 'neutral')]['price'].value_counts()

1.0    1334
0.5     126
2.0      34
1.5      32
2.5      24
Name: price, dtype: int64

In [12]:
london['price'].value_counts()

4.5    2264
2.5     121
1.0      44
5.5      43
1.5      23
3.5      22
2.0      18
7.0      10
3.0       8
Name: price, dtype: int64

In [13]:
notlondon['price'].value_counts()

1.0    3050
0.5     228
1.5     116
2.0      45
2.5      24
4.0       9
Name: price, dtype: int64

In [14]:
notlondon['S-POL'].value_counts(dropna=False)

liberal         1659
neutral          987
independent      563
conservative     146
NaN              144
Name: S-POL, dtype: int64

In [15]:
london['S-POL'].value_counts(dropna=False)

liberal         2442
conservative      43
neutral           26
radical           19
independent       13
NaN               10
Name: S-POL, dtype: int64

## Generate subsample

The following will create a subsample of 36 articles, 12 for each s_pol. For each s_pol, it will take half from London newspapers, half from non-London newspapers. From each of these, it will take half at the lower price point, half at the higher price point, if available.

In [24]:
sampledf = pd.DataFrame()

price_point = 3 # will try to sample equaly from above this price and equal/below this price

for s_pol in [['liberal'], ['neutral','independent'], ['conservative']]:
    
    londonpol = london[london['S-POL'].isin(s_pol)]
    notlondonpol = notlondon[notlondon['S-POL'].isin(s_pol)]
    
    for df in [londonpol,notlondonpol]:
        low_price = df[df['price'] <= price_point]
        high_price = df[df['price'] > price_point]
        if len(low_price) != 0:
            if len(high_price) != 0:
                sampledf = pd.concat([sampledf,low_price.sample(n=3,random_state=124)])
                sampledf = pd.concat([sampledf,high_price.sample(n=3,random_state=124)])
            else:
                sampledf = pd.concat([sampledf,low_price.sample(n=6,random_state=124)])
        else:
            if len(high_price) != 0:
                sampledf = pd.concat([sampledf,high_price.sample(n=6,random_state=124)])
            else:
                continue

In [25]:
sampledf.to_csv('suicide_subsample.csv',index=False)

In [26]:
pd.crosstab(sampledf['S-POL'],sampledf['CATEGORY'])

CATEGORY      london  provincial
S-POL
conservative       6           6
independent        1           3
liberal            6           6
neutral            5           3

In [27]:
pd.crosstab(sampledf['price'],sampledf['CATEGORY'])

CATEGORY  london  provincial
price
0.5            0           3
1.0            0          11
1.5            1           0
2.0            1           0
2.5            7           1
4.0            0           3
4.5            3           0
5.5            6           0